section {
  display: flex;
}

.measurements:hover {
  background-color:black;
  color: #7CFC00;
}

.measurements {
  font-size: 14px;
}

#list-header {
  box-shadow: 0px 4px 8px rgba(55, 71, 79, 0.16);
  border-radius: 12px 12px 0px 0px;
  font-weight: 600;
}

@media only screen and (min-width: 1800px){
  button {
    margin-top: -10vh;
    margin-left: 4vw;
  }
}
